<div class="edit-item-wrapper">
    <h2 class="title">Edit category</h2>

    <div class="section-container">
        <div class="section">
            <h3 class="section-title">Name</h3>
            <div class="section-content">
                <input type="text" id="categoryNameEdit" value="" style="width: 100%; border: none;">
            </div>
        </div>
    </div>

    <div class="dialog-actions">
        <button type="button" class="success-btn" id="applyCategoryBtn">Apply</button>
        <button type="button" class="cancel-btn" id="cancel-btn">Cancel</button>
    </div>
</div>
