<div class="context-menu" id="context-menu">
    <h1 class="context-title title">Options</h1>
    <div class="context-toolbox">
        <button class="context-btn" id="edit-element-btn">✏️ Edit</button>
        <button class="context-btn" id="create-element-btn">➕ Create</button>
        <div class="context-btn-agrupation-open">
            <button class="context-btn" id="open-element-btn">📂 Open</button>
            <button class="context-btn" id="open-here-element-btn">
                📂 <span>Open<br>here</span>
            </button>
        </div>
        <button class="context-btn" id="full-screen-iframe-btn">⛶ Full screen</button>
        <button class="context-btn" id="delete-element-btn">❌ Delete</button>
    </div>
</div>