<dialog class="create-profile-dialog" id="create-profile-dialog">
    <div class="create-profile-wrapper dialog-wrapper">
        <label for="create-profile">New profile name</label>
        <input type="text" id="create-profile-input" name="create-profile-input" placeholder="Profile name...">
        <div class="dialog-actions">
            <button type="button" class="success-btn" onclick="createProfile()">Apply</button>
            <button type="button" class="cancel-btn" id="cancel-btn">Cancel</button>
        </div>
    </div>
</dialog>