<div class="iframe-item" data-id="" data-name="" data-type="item" data-typeitem="iframe" data-category="">
    <div class="iframe-header iframe-button" tabindex="0">
        <h2 class="iframe-title"></h2>
    </div>
    <iframe
        class="iframe-content"
        src=""
        sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-modals allow-presentation"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen; microphone; camera; display-capture"
        allowfullscreen
    ></iframe>
</div>
