body {
    font-family: Arial, sans-serif;
    background-color: #141b33;
    color: white;
}

button {
    color: white;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #0b1021;
}

button:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.15s ease-in-out;
}

.container {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    justify-content: center; /* Centra horizontalmente */
}

a:link { 
    text-decoration: none;
} 

.category {
    background-color: #0b1021;
    padding: 10px;
    border: 5px solid #6f60eb;
    border-radius: 10px;
}

.items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 162px); /* Exactamente 3 columnas de 160px + 2px de borde */
    gap: 10px;
    width: fit-content; /* Se ajusta al contenido */
}

.item {
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    background-color: #141b33;
    width: 160px;
    height: 170px;
    transition: all 0.15s ease-in-out;
    z-index: 1000;
    overflow: hidden;
}

.item:hover {
    scale: 1.07;
    z-index: 1001;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.content-wrapper{
    text-align: center;
    color: white;
}

.category-title{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #503fe4;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.15s ease-in-out;
    text-align: center;
    border-radius: 5px;
}

.category-title:hover{
    background-color: #4f3fe4a2;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.toolbar{
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    max-width: 40px;
    gap: 10px;
}

.toolbar-btn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.customize-btn, .config-btn {
    font-size: 20px;
}


/*############################*/
/*        CONTEXT MENU        */
/*############################*/
.context-menu{
    display: none;
    position: fixed;
    background-color: #1f294d;
    width: auto;
    height: auto;
    top: 100px;
    left: 200px;
    padding: 10px;
    border-radius: 5px;
}

.context-content{
    display: flex;
}

.context-title{
    text-align: center;
}

.context-btn{
    border-radius: 3px;
}

.context-toolbox{
    display: flex;
    flex-direction: column; /* Coloca los hijos en columna */
    gap: 10px; /* Espacio entre los botones */
}


/*############################*/
/*           DIALOGS          */
/*############################*/
dialog{
    background-color: #1f294d;
    color: white;
    border: none;
    border-radius: 10px;
}

dialog::backdrop{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.dialog-wrapper{
    margin-bottom: 20px;
}

.edit-item-dialog, .create-item-wrapper{
    width: 300px;
}

input[type="text"], [type="url"]{
    width: 100%;
}

.icon-wrapper{
    display: flex;
    text-align: center;
}