<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ldash</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="search-bar" id="search-bar">
        <input type="text" class="search-input" id="search-input" placeholder="Search...">
        <button class="search-btn" id="search-btn">🔍</button>
    </div>

    <div class="items-container" id="items-container"></div>

    <div class="toolbar">
        <div class="profile-selector">
            <select id="selected-profile" name="selected-profile" aria-label="Profile">
                <option value="_new%profile_">-New profile-</option>
            </select>
        </div>

        <button class="toolbar-btn" id="config-btn" title="Configuration">⚙️</button>
        <button class="toolbar-btn" id="create-item-btn" title="Create Item">+</button>
        <button class="toolbar-btn" id="customize-btn" title="Customize">🎨</button>
        <button class="toolbar-btn" id="organize-btn" title="Organize">✥</button>
    </div>

    <div class="context-menu" id="context-menu">
        <h1 class="context-title title">Options</h1>
            <div class="context-toolbox" id="toolbox">
                <button class="context-btn" id="edit-element-btn">✏️Edit</button>
                <button class="context-btn" id="delete-element-btn">❌Delete</button>
            </div>
    </div>
    
    <div class="organize-mode-actions" id="organize-mode-actions">
        <button class="success-btn" id="apply-organize-btn">✓</button>
        <button class="cancel-btn" id="cancel-organize-btn">✕</button>
    </div>

    <dialog class="config-dialog" id="config-dialog">
        <div class="config-wrapper dialog-wrapper">
            <h2 class="config-title title">Configuration</h2>
            <label for="enable-ping-status">Enable ping status</label>
            <input type="checkbox" id="enable-ping-status" name="enable-ping-status">

            <label for="default-profile">Default profile</label>
            <select id="default-profile" name="default-profile"></select>

            <div class="section">
                <h3 class="section-title">Search Bar</h3>
                <div class="section-content">
                    <label>Enable search bar</label>
                    <input type="checkbox" id="enable-search-bar" name="enable-search-bar">
                </div>
                <div class="section-content">
                    <label>Enable autofocus</label>
                    <input type="checkbox" id="enable-autofocus-search-bar" name="enable-autofocus-search-bar">
                </div>
                <div class="section-content">
                    <label for="search-bar-opening-method">Opening method</label>
                    <select id="search-bar-opening-method" name="search-bar-opening-method">
                        <option value="_blank">New tab</option>
                        <option value="_self">Same tab</option>
                    </select>
                </div>
                <div class="section-content">
                    <label>Search endpoint</label>
                    <input type="text" id="search-endpoint" name="search-endpoint">
                </div>
            </div>

            <button class="apply-close" id="apply-config-btn">Apply</button>
    
            <input type="file" id="file-input-import">
            <div class="dialog-actions">
                <button class="db-transfer-btn" id="import-db-btn">📥Import db</button>
                <a href="/api/export/database">
                    <button class="db-transfer-btn">📤Export db</button>
                </a>
            </div>
        </div>
    </dialog>

    <dialog class="create-profile-dialog" id="create-profile-dialog">
        <div class="create-profile-wrapper dialog-wrapper">
            <label for="create-profile">New profile name</label>
            <input type="text" id="create-profile-input" name="create-profile-input" placeholder="Profile name...">
            <div class="dialog-actions">
                <button type="button" class="success-btn" onclick="createProfile()">Apply</button>
                <button type="button" class="cancel-btn" id="cancel-btn">Cancel</button>
            </div>
        </div>
    </dialog>

    <dialog class="customize-dialog" id="customize-dialog">
        <div class="customize-wrapper dialog-wrapper">
            <h2 class="title">Customize colors</h2>

            <div class="section">
                <h3 class="section-title">General</h3>
                <div class="section-content">
                    <label>Primary:</label>
                    <input id="color-primary" type="color">
                </div>
                <div class="section-content">
                    <label>Text color:</label>
                    <input id="color-text" type="color">
                </div>
            </div>

            <div class="section">
                <h3 class="section-title">Backgrounds</h3>
                <div class="section-content">
                    <label>Main background:</label>
                    <input id="color-bg-main" type="color">
                </div>
                <div class="section-content">
                    <label>Secondary background:</label>
                    <input id="color-bg-secondary" type="color">
                </div>
                <div class="section-content">
                    <label>Menu background:</label>
                    <input id="color-bg-menu" type="color">
                </div>
                <div class="section-content">
                    <label>Item background:</label>
                    <input id="color-bg-item" type="color">
                </div>
            </div>

            <div class="section">
                <h3 class="section-title">Categories</h3>
                <div class="section-content">
                    <label>Category border:</label>
                    <input id="color-category" type="color">
                </div>
                <div class="section-content">
                    <label>Category header:</label>
                    <input id="color-category-header" type="color">
                </div>
            </div>

            <div class="section">
                <h3 class="section-title">Iframes</h3>
                <div class="section-content">
                    <label>Iframe border:</label>
                    <input id="color-iframe" type="color">
                </div>
                <div class="section-content">
                    <label>Iframe header:</label>
                    <input id="color-iframe-header" type="color">
                </div>
            </div>

            <div class="dialog-actions">
                <button class="success-btn" id="save-colors-btn">Apply</button>
                <button id="cancel-btn">Close</button>
                <button id="reset-colors-btn">Reset to default</button>
            </div>
        </div>
    </dialog>
    
    <dialog id="edit-element-dialog"><p>Loading...</p></dialog>

    <dialog id="delete-element-dialog"><p>Loading...</p></dialog>

    <dialog id="create-item-dialog"><p>Loading...</p></dialog>

    <script src="/static/script.js"></script>
</body>
</html>