<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ldash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body">
    <div class="items-container" id="itemsContainer"></div>

    <div class="toolbar">
        <div class="profileSelector">
            <select id="selectedProfile" name="selectedProfile" aria-label="Profile">
                <option value="newProfile">-New profile-</option>
            </select>
        </div>

        <button class="toolbar-btn config-btn" id="configBtn">⚙️</button>
        <button class="toolbar-btn" id="createItemBtn">+</button>
        <button class="toolbar-btn customize-btn" id="customizeBtn">🎨</button>
    </div>

    <div class="context-menu" id="contextMenu">
        <h1 class="context-title">Options</h1>
            <div class="context-toolbox" id="toolbox">
                <button class="context-btn" id="edit-element-btn">✏️Edit</button>
                <button class="context-btn" id="delete-element-btn">❌Delete</button>
            </div>
        </div>
    </div>

    <dialog class="config-dialog" id="configDialog">
        <div class="config-wrapper dialog-wrapper" style="margin-bottom: 10px;">
            <h2 style="border-bottom: 1px solid #ffffffff; padding-bottom: 10px;">Configuration</h2>
            <label for="enablePingStatus">Enable ping status</label>
            <input type="checkbox" id="enablePingStatus" name="enablePingStatus">

            <label for="defaultProfile">Default profile</label>
            <select id="defaultProfile" name="defaultProfile"></select>
        </div>
        <button onclick="reloadPage()" style="background-color: #4CAF50; margin-right: 15px;">Apply and Close</button>

        <a href="/api/export/database" class="btn" style="color: white;">
            <button style="display: inline-flex; font-size: 1em; line-height: 1;">📤Export db</button>
        </a>

        <input type="file" id="fileInputImport" style="display: none;" onchange="importDatabase()">
        <button class="btn-import-database" onclick="document.getElementById('fileInputImport').click()" style="display: inline-flex; font-size: 1em; line-height: 1;">📥Import db</button>
    </dialog>

    <dialog class="create-profile-dialog" id="createProfileDialog">
        <div class="create-profile-wrapper dialog-wrapper">
            <label for="createProfile">New profile name</label>
            <input type="text" id="createProfile" name="createProfile">
        </div>

        <button type="button" onclick="createProfile()">Apply</button>
        <button type="button" onclick="cancelOperation()">Cancel</button>
    </dialog>

    <dialog class="edit-item-dialog" id="edit-element-dialog"><p>Loading...</p></dialog>

    <dialog class="delete-item-dialog" id="delete-element-dialog"><p>Loading...</p></dialog>

    <dialog class="create-item-dialog" id="createItemDialog"></dialog>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>