<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera web con Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body">
    <div class="container">
        {% for category, items in grouped_category.items() %}
        <div class="category" category="{{ category|replace(' ', '-') }}" id="category-{{ loop.index }}">
            <div class="category-title">
                <p>⮞</p>
                <h3>{{ category }}</h3>
            </div>
            <div class="items-wrapper">
                {% for item in items %}
                <a href="{{ item[3] }}" {% if 'true' in item[5] %}target="_blank" rel="noopener noreferrer"{% endif %}>
                    <div class="item" itemid="{{ item[0] }}">
                        <div class="content-wrapper">
                            <p>{{ item[1] }}</p>
                            <img src="{{ item[2] }}" alt="{{ item[1] }} icon" width="100px">
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="toolbar">
        <button class="toolbar-btn" id="createItemBtn">+</button>
        <button class="toolbar-btn customize-btn" id="customizeBtn">🎨</button>
    </div>

    <div class="context-menu" id="contextMenu">
        <h1 class="context-title">Config</h1>
            <div class="context-toolbox" id="toolbox">
                <button class="context-btn" id="editItemBtn">✏️Edit</button>
                <button class="context-btn" id="deleteItemBtn">❌Delete</button>
            </div>
        </div>
    </div>

    <dialog class="edit-item-dialog" id="editItemDialog"><p>Loading...</p></dialog>

    <dialog class="delete-item-dialog" id="deleteItemDialog"><p>Loading...</p></dialog>

    <dialog class="create-item-dialog" id="createItemDialog"></dialog>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>